<header class="ot-header">
    <div class="ot-header__item ot-brand ot-brand--is-dark">
      <a href="#" class="ot-brand__logo">
        <img alt="OT2" src="http://ot-css-library.bp-paas.otxlab.net/logo.svg" title="OpenText" class="ot-brand__logo">
      </a>
      <div class="ot-brand__divider">
      </div>
      <div class="ot-brand__primary">User</div>
      <div class="ot-brand__secondary">Creation</div>
      <div class="ot-brand__version">UC<span>22.4</span></div>
    </div>
    <div class="ot-header__actions">
      <!-- Search -->
      <button class="ot-header__item ot-btn ot-icon ot-icon--is-styleable-icon ot-icon--appearance-light ot-icon--is-header-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42" class="ot-svg ot-svg--header">
          <circle fill="none" cx="21" cy="21" r="20" class="ot-state">
          </circle>
          <path d="M30.71 29.29l-5.04-5.04a8.244 8.244 0 001.73-5.05c0-4.52-3.68-8.2-8.2-8.2S11 14.68 11 19.2s3.68 8.2 8.2 8.2c1.9 0 3.65-.65 5.05-1.73l5.04 5.04c.2.19.45.29.71.29s.51-.1.71-.29c.39-.39.39-1.03 0-1.42zM19.2 25.4c-3.42 0-6.2-2.78-6.2-6.2s2.78-6.2 6.2-6.2 6.2 2.78 6.2 6.2c0 3.42-2.78 6.2-6.2 6.2z" fill="#333" class="ot-metaphor">
          </path>
          <circle fill="none" cx="21" cy="21" r="20.5" class="ot-focus">
          </circle>
        </svg>
      </button>

      <!-- Profile -->
      <button class="ot-header__item ot-btn ot-icon ot-icon--is-styleable-icon ot-icon--appearance-light ot-icon--is-header-icon-user">
        <div class="ot-card__avatar">
          <div class="ot-card__avatar-placeholder ot--has-bg-navy-minus-one">
            <span class="ot-card__profile-initials">{{userNameSplit}}</span>
          </div>
        </div>
      
    </button>
      <button role="button" title="Toolbar Button" class="ot-btn ot-btn--is-toolbar" [routerLink]="['/']">
        Sign Out
      </button>
    </div>
  </header>
  
  <!-- Bradcrumps -->

  
  