.ot-header{
    position: fixed;
    padding: 20px 800px;
    
}

.ot-brand{
    position: relative;
    right: 750px;
}

.ot-header .ot-header__actions {
    position: relative;
    left: 65px;
}

.ot-brand__version{
    line-height: 0;
}

.ot-brand__version span{
    margin-left: 5px;
}

.ot-card__avatar-placeholder{
    width: 43px;
    height: 43px;
}

.ot-card__avatar-placeholder .ot-card__profile-initials{
    font-size: 1.5rem;
    color: white;
}

.ot-card__avatar-placeholder:hover{
    background-color: #1e4879;
    cursor: pointer;
}

@media screen and (max-width: 2208px) {
    .ot-header .ot-header__actions {
    position: relative;
    left: 445px;
}
}

@media screen and (max-width: 3840px) {
    .ot-header .ot-header__actions {
        position: relative;
        left: 65px;
}
}